.advantages__wrapper {
    width: 100%;
}
.advantages__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 70px;
}
.advatages__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55%;
}
.description__title--header {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: #061e37;
}
.description__title--subtitle {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    text-transform: capitalize;
    color: #b0bec5;
}
.description__title--text {
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #b0bec5;
}
.advantages__notes__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 65px;
}
.advantages__notes__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25%;
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    color: #061e37;
}
.information__logo {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
}
.information__logo-1 {
    background-image: url(../img/advantages-logo-1.png);
}
.information__logo-2 {
    background-image: url(../img/advantages-logo-2.png);
}
.information__logo-3 {
    background-image: url(../img/advantages-logo-3.png);
}
.information__title {
    margin-top: 30px;
    margin-bottom: 0;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    white-space: nowrap;
    color: #061e37;
}
.information__text {
    margin-top: 5px;
    margin-bottom: 0;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #78909c;
}
@media (max-width: 800px) {
    .advantages__notes__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .advantages__notes__information {
    margin-top: 40px;
    max-width: 50%;
    }
}
.advantages__button {
    font-size: 15px;
    font-weight: 800;
    margin-top: 60px;
    background-color: #1de9b6;
    font-family: "Raleway", sans-serif;
    color: #fff0f0;
}
@media (max-width: 449px) {
    .advantages__inner {
        padding: 40px 0;
    }
    .advatages__description {
        min-width: 100%;
    }
    .advantages__notes__wrapper {
        min-width: 100%;
        margin-top: 35px;
    }
    .advantages__notes__information {
        min-width: 100%;
    }
}
@media (max-width: 765px){
    .advantages__inner {
        padding: 50px 0;
    }
    .advatages__description {
        min-width: 80%;
    }
    .advantages__notes__wrapper {
        min-width: 80%;
        margin-top: 50px;
    }
    .advantages__notes__information {
        min-width: 80%;
    }
}