.feedback {
    background-image: url(../img/feedback-background-gradient.svg), url(../img/feedback-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.feedback__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
.feedback__description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 520px;
    padding: 130px 0;
}
.feedback__description__title {
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 55px;
    text-align: left;
    font-size: 45px;
    font-weight: 600;
    max-width: 87%;
    text-transform: none;
    color: #ffffff;
}
.feedback__description__text {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 25px;
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}
.feedback__button {
    font-size: 15px;
    font-weight: 700;
    margin-top: 80px;
    background-color: #061e37;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
}
.feedback__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.feedback__slider__arrow {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    width: 75px;
    height: 50px;
}
.feedback__slider__arrow-up {
    background-image: url(../img/keyboard_arrow_up.png);
}
.feedback__slider__arrow-down {
    background-image: url(../img/keyboard_arrow_down.png);
}
.feedback__slider-hidden {
    overflow: hidden;
}
.feedback__slider__item-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 430px;
    padding: 10px 60px 10px 10px;
    overflow: auto;
}
.feedback__slider__item {
    display: flex;
}
.feedback__slider__item-logo {
    margin-right: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
    width: 62px;
    height: 62px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.feedback__slider__item-logo-1 {
    background-image: url(../img/feedback_client-photo-1.png);
}
.feedback__slider__item-logo-2 {
    background-image: url(../img/feedback_client-photo-2.png);
}
.feedback__slider__item-logo-3 {
    background-image: url(../img/feedback_client-photo-3.png);
}
.feedback__slider__item-logo-4 {
    background-image: url(../img/feedback_client-photo-4.png);
}
.feedback__slider__item-text {
    display: flex;
    align-items: center;
    width: 80%;
    padding: 32px 30px 27px 30px;
    margin-bottom: 75px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}
.feedback__slider__description {
    display: flex;
    justify-content: left;
    flex-direction: column;
    flex-wrap: wrap;
}
.feedback__slider__person-name {
    font-size: 18px;
    font-weight: 800;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    color: #061e37;
}
.feedback__slider__description-text {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 25px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: #78909c;
}
@media (max-width: 992px) {
    .feedback__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 992px) {
    .feedback__description {
    align-items: center;
    max-width: 520px;
    padding: 50px 0;
    }
    .feedback__description__title {
        text-align: center;
    }
    .feedback__description__text {
        text-align: center;
    }
    .feedback__button {
    margin-top: 50px;
    }
    .feedback__slider {
    width: 100%;
    }
    .feedback__slider__item-wrapper {
    height: 400px;
    }
    .feedback__slider__item {
    flex-direction: column;
    align-items: center;
    }
    .feedback__slider__item-logo {
    margin-right: 0;
    margin-bottom: 10px;
    }
    .feedback__slider__item-text {
    padding: 16px 15px 16px 15px;
    margin-bottom: 40px;
    }
    
}