.footer {
    width: 100%;
    background-color: #001d33;
}
.footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px 50px 100px 50px;
}
.footer__company-information__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.footer__about-us {
    display: flex;
    color: white;
}
.about-us__item-href {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #838f9b;
    opacity: 0.5;
}
.about-us__item-href--point {
    position: relative;
    margin-left: 20px;
}
.footer__social-networks {
    display: flex;
    justify-content: center;
}
.social-networks__item {
    display: flex;
    margin-left: 20px;
}
.footer__company-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
}   
@media (max-width: 767px) {
    .footer__inner {
        justify-content: center;
        padding: 30px 0;
    }
    .footer__nav__wrapper {
        display: none;
    }
    .footer__company-information{
        flex-direction: column;
        align-items: center;
    }
    .footer__social-networks {
        margin-top: 15px;
    }
}
