.form__inner {
    display: flex;
    justify-content: center;
}
.form__inner__box {
    max-width: 60%;
    padding: 54px 0 90px 0;
}
.form__description__title {
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    color: #061e37;
    text-align: center;
}
.form__description__text {
    margin-top: 35px;
    margin-bottom: 0;
    line-height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #061e37;
}
.form__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-form__form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.contact-form__personal-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-form__input-item {
    width: 49%;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 15px 10px 15px 20px;
    border-radius: 5px;
    border: 1px solid #061e37;
    background-color: #fafafa;
    color: #061e37;
    font-family: "Raleway", sans-serif;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.contact-form__user-massage {
    width: 100%;
    resize: none;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 15px 10px 15px 20px;
    border-radius: 5px;
    border: 1px solid #061e37;
    background-color: #fafafa;
    color: #061e37;
    font-family: "Raleway", sans-serif;
    outline: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.contact-form__submit-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}
.contact-form__checkbox {
    display: flex;
    position: relative;
}
.checkbox__input-elem {
    display: flex;
    position: relative;
    width: 15px;
    height: 15px;
    opacity: 0;
}
.check {
    display: flex;
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 3px;
    border: 2px solid #061e37;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    background-image: url(../img/transparent-icon.png);
}
.checkbox__input-text {
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
    font-family: "Raleway", sans-serif;
    color: #061e37;
}
.contact-form__button {
    font-size: 16px;
    font-weight: 400;
    width: 132px;
    height: 50px;
    background-color: #1de9b6;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
    .form__inner__box {
        max-width: 100%;
        padding: 30px 0 60px 0;
    }
    .form__description__text {
        margin-top: 20px;
    }
    .contact-form__form {
        justify-content: center;
        margin-top: 20px;
    }
    .contact-form__personal-info {
        flex-direction: column;
    }
    .contact-form__input-item {
        width: 100%;
    }
    .contact-form__submit-wrap {
        flex-direction: column;
    }
    .contact-form__button {
        margin-top: 15px;
    }
}