.header {
    position: absolute;
    z-index: 2;
}
.header__inner {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
}
.header__auth{
    font-size: 12px;
    font-weight: 400;
    padding: 6px 17px;
    border: 1px solid #fff0f0;
    font-family: "Raleway", sans-serif;
    color: #fff0f0;
}
  @media (max-width: 800px) {
    .header__logo__wrapper {
    flex-grow: 1;
    }
    .header__mobile-menu-icon{
    display: block;
  } 
    .header__nav__wrapper {
    display: none;
  }
  @media (max-width: 449px){
    .header__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    .header__auth__wrapper {
      order: 1;
      margin-top: 10px;
    }
    .header__logo__wrapper {
      flex-basis: 75%;
  }