@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800,900&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html,body {
  height: 100%;
}
a {
  text-decoration: none;
}
.container {
  width: 1200px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

/* Mobile */
@media (max-width: 449px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 450px) {
  .container {
    width: 420px;
  }
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}
.main-content {
  flex: 1 0 auto;
  width: 100%;
}
.main-logo{
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.main-logo__icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  padding: 3px;
  background-image: url(../img/logo.png);
}
.main-logo__slogan {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #fff0f0;
}
.main-logo__slogan-1-part {
  font-size: 15px;
  font-weight: 400;
}
.main-logo__slogan-2-part {
  font-size: 15px;
  font-weight: 700;
}
.nav-menu {
  position: relative;
}
.nav-menu__list {
  display: flex;
  justify-content: space-between;
}
.nav-menu__list__item {
  margin: 0 15px;
}
.nav-menu__list__item-link {
  font-size: 15px;
  font-weight: 600;
  padding: 5px;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  color: #fff0f0;
}
.header__mobile-menu-icon{
  display: none;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  background-image: url(../img/menu-icon-light.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 50px;
  border-radius: 6px;
  text-transform: uppercase;
}
.description {
  font-family: "Raleway", sans-serif;
}
.fab {
  font-size: 20px;
  color: #838f9b;
  opacity: 0.5; }