.market-cards__inner {
    display: flex;
}
.market-cards__card {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 30px 0 30px 0;
    width: 25%;
}
.market-cards__card-type-1 {
    background-color: #80d8ff;
}
.market-cards__card-type-2 {
    background-color: #82b1ff;
}
.market-cards__card-type-3 {
    background-color: #b388ff;
}
.market-cards__card-type-4 {
    background-color: #ea80fc;
}
.card__logo {
    width: 50px;
    height: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.card__logo-type-1 {
    background-image: url(../img/market-cards-1.png);
}
.card__logo-type-2 {
    background-image: url(../img/market-cards-2.png);
}
.card__logo-type-3 {
    background-image: url(../img/market-cards-3.png);
}
.card__information {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card__information-text {
    font-size: 20px;
    font-weight: 800;
    margin-left: 10px;
    text-transform: capitalize;
    font-family: "Raleway", sans-serif;
    color: #ffffff;
}
@media (max-width: 800px) {
    .market-cards__card {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10px 0;
    }
    .card__information {
        margin-top: 10px;
    }
    .market-cards__inner {
        flex-direction: column;
        align-items: center;
        
}