.services__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 20px;
}
.services__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 55%;
}
.services-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    box-sizing: border-box;
    padding: 26px 22px;
}
.services-about__item {
    width: 100%;
    max-height: 50px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0 22px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 6px 1px #b0bec5;
    border-radius: 8px;
    transition: all 0.2s ease-out;
}
.services-about__item-header {
    display: flex;
    align-items: center;
    height: 50px;
}
.services-about__item-header-logo {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
}
.services-about__item-header-logo-1 {
    background-image: url(../img/services-logo-1.png);
}
.services-about__item-header-logo-2 {
    background-image: url(../img/services-logo-2.png);
}
.services-about__item-header-logo-3 {
    background-image: url(../img/services-logo-3.png);
}
.services-about__item-header-logo-4 {
    background-image: url(../img/services-logo-4.png);
}
.services-about__item-header-logo-5 {
    background-image: url(../img/services-logo-5.png);
}
.services-about__item-drop-down-arrow-wrapper {
    flex-grow: 1;
}
.services-about__drop-down-arrow {
    float: right;
}
.description__title--services-about {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 15px;
    letter-spacing: 1px;
}
.services-about__item-active {
    max-height: 550px;
}
.services-about__item-card {
    display: flex;
    width: 100%;
}
.item-card__photo {
    width: 35%;
    height: 146px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.item-card__photo-1 {
    background-image: url(../img/services-statistic.jpg);
}
.item-card__photo-2 {
    background-image: url(../img/services-inbox.jpg);
}
.item-card__photo-3 {
    background-image: url(../img/services-team.jpg);
}
.item-card__photo-4 {
    background-image: url(../img/services-settings.jpg);
}
.item-card__photo-5 {
    background-image: url(../img/services-feed.jpg);
}
.item-card__text {
    flex: 1;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 25px;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: #061e37;
}
@media (max-width: 1200px) {
    .services-about {
        width: 80%;
  }
@media (max-width: 992px) {
    .services-about {
        width: 90%;
  }
@media (max-width: 768px) {
    .services-about {
        width: 100%;
  }
@media (max-width: 767px) {
    .services__inner {
        padding: 40px 10px;
    }
    .services-about {
        padding: 26px 0;
    }
    .services-about__item-card {
        flex-direction: column;
    }
    .item-card__photo {
        width: 100%;
        margin: 0;
    }
    .item-card__text {
        line-height: 20px;
        text-align: center;
    }
    .services__description {
        max-width: 100%;
    }
  }