.title {
    background-image: url(../img/background-header-gradient.svg), url(../img/background-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.title__inner{
    display: flex;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    margin: 160px 0 130px 0;
}
.title__description {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 50px;
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    max-width: 80%;
    color: #fff0f0;
}
@media (max-width: 992px) {
    .title__video-desktop {
    display: none;
    }
    .title__inner {
    justify-content: center;
    }
    .title__box {
    align-items: center;
    max-width: 80%;
    }
    .title__description {
    text-align: center;
    }
    .title__text {
    text-align: center;
    padding: 20px 0 20px 0;
    }
    .title__video-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
  }
@media (min-width: 992px) {
    .title__video-mobile {
    display: none;
}
    .title__box {
    max-width: 45%;
    }
    .title__text {
    text-align: left;
    }
    .title__video-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    }
}
.video__file {
    width: 100%;
    height: auto;
    max-height: 100%;
    border-radius: 5px;
    border: 2px solid #061e37;
    outline: none;
}
.title__text {
    margin-bottom: 0;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    color: #fff0f0;
}
.title__buttons {
    display: flex;
}
.title__button {
    font-size: 15px;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 20px;
    background-color: #fff0f0;
    font-family: "Raleway", sans-serif;
    color: #061e37;
}
@media (max-width: 449px) {
    .title__buttons {
    flex-direction: column;
    align-items: center;
    }
    .title__button {
    margin-right: 0;
    }
    .title__description {
    font-size: 20px;
    font-weight: 700;
    min-width: 100%;
    }
}
.title__box {
   display: flex;
   flex-direction: column;
}
.title__video {
    position: relative;
}
.title__video__button {
    width: 60px;
    height: 60px;
    background-image: url("../img/play-logo.png");
    cursor: pointer;
}

@media (max-width: 449px) {
    .title__video__button {
        width: 30px;
        height: 30px;
        background-size: cover;
    }
}

.title__video__text {
    margin-top: 5px;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #061e37;
}
.title__video__box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}